<h2>Welcome to TemplateApp</h2>
<br>
<br>
<div data-ng-controller="ExampleCtrl">
    <p>
        {{message}}
    </p>
    <input type="text" data-ng-model="message"/>
    <input class="btn btn-primary" type="button" data-ng-click="handleClick()" value="Transfer"/>
</div>
<br>
<div data-ng-controller="Example2Ctrl">
    <p>
        {{message}}
    </p>
    <input type="text" data-ng-model="message"/>
</div>
<br>
<div class="version-area">
    {{ 'Current version is v%VERSION%.' | interpolate }}
</div>